body {
    background-image: url(/Content/images/wrap_bg.jpg);
}
.navbar, .sidebar, .breadcrumb {
    /*background-image: url(/Content/images/body_bg.jpg);*/
    background-color: rgba(0, 0, 0, 0.05);
}

.compact {
    background-color: transparent;
}

#page-wrapper {
    /*background-image: url(/Content/images/wrap_bg.jpg);*/
    background-color: rgba(255, 255, 255, 0.05);
}

@media(min-width:768px) {
    #page-wrapper {
        margin: 10px 0 0 250px;
        padding: 0 10px;
    }
}

.scroll_list {
    height: auto;
    max-height:100px;
    overflow-y:auto; 
    overflow-x: hidden;
}

/* Green check. */
.glyphicon-ok {
    color: darkgreen;
}

/* Red X. */
.glyphicon-remove {
    color: darkred;
}
button .glyphicon-ok {
    color: palegreen;
}
button .glyphicon-remove {
    color: coral;
}

.form-control {
    height:unset
}
.fancytree-selector { /* Que la caja del fancytree tenga una altura fija */
    width: 100%;
    height: 200px;
    overflow: auto;
    position: relative;
}
.ui-pnotify-title {
    background-color: rgba(0, 0, 0, 0.05);
}
.modal-header { /*h4, .close*/
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}
span.pending span.fancytree-title {
    font-style: italic;
}
span.pending span.fancytree-title:after {
    content: "\2026"; /* ellipsis */
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected span.fancytree-title {
    background-color: #ffffff;
}
span.fancytree-node.fancytree-selected span.fancytree-title {
    background-color: #ffffff;
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active {
    background-color: #ffffff;
    /*border-color: #ffffff;*/
}
span.fancytree-node.fancytree-active {
    background-color: #f9f9f9;
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected {
    background-color: #ffffff;
}
span.fancytree-node.fancytree-selected {
    background-color: #ffffff;
    /*border-color: #ffffff;*/
}
span.fancytree-node.fancytree-selected span.fancytree-title {
    background-color: #ffffff;
}
