<div class="FacturasClientes">
    <h2>FacturasClientes</h2>
    <div class="datatable"></div>
</div>
<script type="text/javascript">

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    var connectCount = 0;
    $(function () { //shorthand document.ready function
        var vm = getViewModel("FacturasClientes");//
        // Si no se tiene datatable, llamada para coger records: vm.requestRecordData(0, 200, null, false);
        vm.initDatatable($('div.FacturasClientes div.datatable'), { filteredRecords: [], queryToken: "" });
    });

</script>
