@{
    ViewBag.Title = "Principal";
}

@*@Html.ActionLink("Click here to Estados", "Estados", "Hub")*@
<div id="main-content-wrapper" class="partial">
    @*@Html.Partial("~/Views/Hub/Estados.cshtml")*@
    Cargando Gesem...
</div>

<p>

